/* ###########################################################################################
######################################## SMARTPHONE ##########################################
############################################################################################ */

/* BODY */

body {
    font-family: arial,sans-serif;
    font-size: small;
    color: #222;
    height: 100%;
    margin: 0;
}

/* BODY */

.menu_right {
  float: right;
}

/* link */

a:link { 
  color: black;
  text-decoration: none; 
} 